
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="p-3 mb-2 bg-info text-dark">
        <h1>おみやげづくし</h1>
      </div>
      <div class="p-3 mb-2 bg-info-subtle text-emphasis-info">
        <h4>
           ようこそ、おみやげづくしへ！</br>
           ここでは皆さんのおすすめしたいお土産を投稿したり、</br>
           お土産を検索することが出来ます。</br>
        </h4>
      </div>
    </div>
  </div>
</div>
