<div class="container">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2><顧客一覧></h2>
    </div>
  </div>



<thead class= "table-secondary">
  <table class= "table">
    <tr>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.name %></td>
      <td><%= customer.email %></td>
      <td>
        <% if customer.is_deleted == false %>
          <b> <font color="$teal-300">有効</font></b>
         <% else %>
           <p>退会</p>
         <% end %>
      </td>
    </tr>
<% end %>
</div>