<h3>おみやげ一覧</h3>

<% @souvenir.each do |souvenir| %>
 <tr>
     <tb><%= image_tag souvenir.get_image %></tb>
 </tr>
 <tr>
  <%= souvenir.item_name %>
 </tr>
 <tr>
  <%= souvenir.price %>
 </tr>
 <tr>
  <%= souvenir.body %>
 </tr>

<% end %>