 <table class="table table-hover table-inverse">

  <% if @souvenirs == "Souvenirs" %>
    <tbody>
      <% @souvenirs.each do |souvenir| %>
        <tr>
          <td><%= souveni.item_name %></td>
        </tr>
      <% end %>
    </tbody>
    
</table>